html, body {
    height: 100%;
}

body {
    width: 100%;
    background-color: #0c739f;
    font-family: Tahoma, Arial, sans-serif;
}

.bg-image {
    min-height: 988px;
    background-image: url(../img/bg-image.jpg);
    background-repeat: repeat-x;
}

.main {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.5);
}

.logo {
    display: block;
    float: left;
    width: 283px;
    height: 164px;
}

header {
    position: relative;
    padding: 11px 33px 0 28px;
}

header p {
    display: block;
    float: right;
    line-height: 15pt;
}

header a {
    color: #128aa7;
    font-size: 9pt;
}

header ul {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
}

header ul li {
    float: right;
    display: block;
    width: 56px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8px;
}

ul.count a {
    font-size: 7pt;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.contacts {
    float: right;
    margin-bottom: 34px;
    color: #128aa7;
    font-size: 9pt;
}

.contacts h2 {
    font-size: 9pt;
    color: #128aa7;
    font-weight: bold;
}

.contacts p a {
    text-decoration: none;
}

.photo {
    min-height: 236px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #128aa7;
    background-image: url(../img/photo.jpg);
}


/*ЭТО ВЕРХНЕЕ МЕНЮ*/

.top_menu {
    width: 100%;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid black;
    background: #323232;
    line-height: 28px;
}

.top_menu a {
    font-size: 10.7pt;
    color: white;
    text-decoration: none;
}

.top_menu ul {
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

.top_menu ul li {
    float: left;
    position: relative;
    z-index: 2;
}

.top_menu_main {
    margin-left: 67px;
    margin-right: 57px;
}

.top_menu_travel {
    text-indent: 10px;
    padding-right: 45px;
}

.top_menu_service {
    text-indent: 10px;
    padding-right: 54px;
}

.top_menu_partner {
    text-indent: 10px;
    padding-right: 44px;
}

.top_menu_reviews {
    text-indent: 10px;
    padding-right: 64px;
}

.top_menu_about {
    padding-right: 62px;
}

.top_menu ul li ul a {
    color: #c8c8c8;
}

.top_menu ul li ul {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 28.5px;
    border-top: 1px solid black;
    background: #323232;
}

.top_menu ul li ul li {
    float: none;
    display: block;
    background: none;
}

.top_menu ul li:hover ul {
    display: block;
}


/*ЭТО КОНТЕНТ*/

.content {
    width: 99.8%;
    box-shadow: 0 6px 0px -3px rgba(0, 0, 0, 1);
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
}

.bgcolor_info {
    float: left;
    width: 100%;
    position: relative;
    right: 58%;
    background: #edeef0;
    border-right:  1px solid #c7cacf;

}

.bgcolor_text {
    float: left;
    width: 100%;
    background: yellow;
    position: relative;
    right: 21%;
    background: white;
    border-right:  1px solid #c7cacf;
}

.bgcolor_news {
    float: left;
    width: 100%;
    position: relative;
    background: #edeef0;
    overflow: hidden;
}
.info {
    float: left;
    width: 21%;
    position: relative;
    left: 79%;
    overflow: hidden;
}

.text {
    width: 57.9%;
    float: left;
    position: relative;
    left: 79%;
    padding-left: 1px;
    overflow: hidden;
}
.news {
    width: 21%;
    float: right;
    position: relative;
    left: 79%;
    overflow: hidden;
}

h1 {
    color: #424c43;
    font-weight: bold;
    text-align: center;
    line-height: 39px;
}

.info_box1 {
    padding-left: 15px;
    border-bottom: 1px solid #c7cacf;
}

.info_box2 {
    min-height: 257px;
    padding-left: 15px;
    border-bottom: 1px solid #c7cacf;
}

.news_box1 {
    padding-left: 15px;
    border-bottom: 1px solid #c7cacf;
}

.news_box2 {
    padding-left: 15px;
    border-bottom: 1px solid #c7cacf;
}

.news_box3 {
    padding-left: 15px;
}

.content span {
    color: #424c43;
    font-size: 10.5pt;
    line-height: 24px;
}

.content hr {
    margin: 0 auto;
}

h3 {
    color: white;
    text-align: center;
    font-size: 10pt;
    line-height: 34px;
    color: #cee3ec;
}

.copy a {
    text-decoration: none;
    color: #cee3ec;
}
