<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>JS 13-14 JSON &amp; Others</title>
        <!-- Bootstrap -->
        <link href="./css/reset.css" rel="stylesheet">
        <link href="./css/bootstrap.css" rel="stylesheet">
        <link href="./css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

      <script type="text/template" id="goTest">
        <div class="container center">
            <h4>Тест по программированию</h4>
                <form role="form" class="" action="#" method="post">
                    <% for (var i=0; i<arrQuestions.length; i++) { %>
                        <div class="form-group left">
                            <h4><%= (i+1) %>. Вопрос №<%= (i+1) %></h4>
                            <% for (var j=0; j<arrAnswers[i].length; j++) { %>
                            <div class="checkbox">
                                <% idText = "answer_" + (i+1) + "_" + (j+1) + ">"; %>
                                <input type="checkbox" class="check-style" id=<%= idText %>
                                <label for=<%= idText %><%= arrAnswers[i][j] %></label>
                            </div>
                            <% }; %>
                        </div>
                    <% }; %>
                    <input type="button" name="checkres" value="Проверить мои результаты">
                </form>
        </div>

        <div id="modal">
            <span id="modal_close" data-title="Закрыть">x</span>
            <h4>Результаты теста</h4>
        </div>
        <div id="overlay"></div>
      </script>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="./js/bootstrap.js"></script>
        <script src="./js/template.js"></script>
        <script src="./js/script.js"></script>
    </body>

</html>
