$main-width:                1160px;
$main-font:                 'Ubuntu Condenset Regular', sans-serif;
$nav-background:            #2a2d32;
$menu-divider-color:        #181a1d;
$menu-font-size:            12px;
$menu-color:                #fff;
$menu-color-hover:          #f4b60d;
$menu-background-focus:     #248cec;
$searh-height:              36px;
$search-background:         #35383c;
$search-color:              #626466;
$slider-background:         #dedede;
$slider-height:             470px;
