<div class="row">
    <div class="col-sm-4 col-sm-offset-5">
        <h1>AngularJS</h1>
        <h3 data-gd-name-bold></h3>
        <h4 data-gd-name-italic></h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 well well-sm">
        <span>Имя докладчика - {{userGroup.name}}.</span>
        <div class="input-group">
            <span>{{userGroup.name}}, введите количество людей: </span>
            <input type="number" data-ng-model="peopleHere">
        </div>
        <br>
        <span>Людей в комнате: </span>
        <span class="green">{{peopleHere}}</span>
        <p>
            {{peopleDiscription}}
        </p>
    </div>
    <!-- <div data-ng-controller="EventListController" data-ng-view=""></div> -->
</div>
