@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    min-height: 100%;
    background: linear-gradient(to top, #fafafa, #cecece);
}
.gradient {
    position: relative;
    font-family: 'Helvetica Neue Roman', Tahoma, sans-serif;
    font-size: 14pt;
    color: #60b5ed;

}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.nav {
    height: 36px;
    padding-right: 20px;
    background-image: url(../img/menu.png);
    background-color: blue;
    background-repeat: repeat-x;
    line-height: 36px;
}

.menu_1 a {
    display: block;
    padding-right: 14px;
    padding-left: 10px;
    font-size: 10pt;
    color: #60b5ed;
    text-decoration: none;
}
ul.menu_1 li {
    display: inline-block;
    float: right;
}
ul.menu_1 li:hover {
    display: block;
    background-color: #4eabda;
    color: white;
}




.menu_2 a {
    padding-right: 14px;
    padding-left: 10px;
    font-size: 10pt;
    color: white;
    text-decoration: none;
}
ul.menu_2 li {
    display: inline-block;
    float: right;
}
ul.menu_2 li:hover  {
    /*background: red;*/
    background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
    color: white;
}
.menu_2 a img {
    vertical-align: middle;
}
ul.menu_2 li span {
    text-decoration: underline;
}






.main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 36px;
    height: 100%;
    /*background-image: url(../img/bg.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*.cadastre {
    width: 560px;
    height: 614px;
    margin-top: -280px;
    margin-left: -307px;
    background-color: rgba(0, 0, 0, 0.5);


}*/
